<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ pageTitle|default('StageLink') }}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/variable.css" />
    <link rel="icon" href="static/images/favicon.svg" type="image/svg" />
    {% block stylesheets %}{% endblock %}
    <script src="static/js/compte.js"></script>
</head>

<body>
    {% include 'layout/header.twig' %}

    {% block content %}{% endblock %}

    {% include 'layout/footer.twig' %}

    {% block javascripts %}{% endblock %}
</body>

</html>
